@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.apperance-input-none {
		-webkit-appearance: none !important;
		-moz-appearance: none !important;
		appearance: none !important;
	}
	.apperance-input-none:focus {
		-webkit-appearance: none !important;
		-moz-appearance: none !important;
		appearance: none !important;
	}

	.text-balance {
		text-wrap: balance;
	}
}
